/************************************************** Forside ************************************************/

@media screen and (max-width: 750px) {
  #forside_main {
    /* background-color: #e8e2db; */
    /* background-color: #f1ece6; fra mutual-MAIN */
    /* background-color: #dfd9d0; */
    background-color: #dcd8d4f1;
  }

  .blomster_div {
    background-color: #aebdc2;
  }

  .blomsterfigur {
    max-width: 38%;
    padding-top: 4%;
  }

  .tekst_div {
    background-color: #aebdc2;
    padding: 2%;
    display: grid;
    justify-content: center;
  }

  .tekst2 {
    padding-left: 12%;
    margin-top: -9%;
  }

  .figur_div {
    background-color: #aebdc2;
    padding: 8%;
    display: flex;
    justify-content: center;
  }

  .damefigur {
    max-width: 38%;
  }

  .temaer {
    padding-bottom: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 4%;
    margin: 0 11%;
  }

  .tema_billede {
    max-width: 95%;
    padding-top: 10%;
    padding-left: 15%;
    padding-right: 10%;
  }
}

/************************************************** Fuld skærm ************************************************/
@media screen and (min-width: 750px) {
  .section_forside {
    position: relative;
  }

  #forside_main {
    /* background-color: #e8e2db; */
    /* background-color: #f1ece6; fra mutual-MAIN */
    /* background-color: #dfd9d0; */
    background-color: #e8e2db;
    padding: 1rem;
  }

  .border {
    border-color: #223b44;
    border-style: solid;
    margin: 2rem;
  }

  /* Placering af farvede bokse der lapper indover hinanden er lavet med delvis inspiration fra chatGPT */

  .blomster_div {
    position: absolute;
    background-color: #a8b7b7;
    margin-left: 8%;
    margin-right: 66%;
    margin-top: 16%;
    z-index: 2;
  }

  .blomsterfigur {
    padding-top: 10%;
    padding-bottom: 6%;
    max-width: 75%;
  }

  .tekst_div {
    position: absolute;
    background-color: #d5dde0;
    margin-left: 29%;
    margin-top: 12%;
    z-index: 3;
    padding: 4% 13% 5% 3%;
  }

  .figur_div {
    position: absolute;
    background-color: #aebdc2;
    z-index: 1;
    margin-top: 7%;
    margin-left: 47%;
    padding: 2% 10% 2% 18%;
  }

  .damefigur {
    padding: 12%;
  }

  .temaer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 37.5% 20% 5.5% 20%;
  }

  .tema_billede:hover {
    transform: scale(1.1);
  }
}
