/************************************************** Forside ************************************************/

/* placering af farvede bokse er lavet med delvis inspiration fra chatGPT */

@media screen and (max-width: 750px) {
  .blomster_div {
    background-color: #96a8ae;
  }

  .blomsterfigur {
    max-width: 60%;
    padding: 4% 0%;
  }

  .tekst_div {
    background-color: #96a8ae;
    padding: 2%;
    display: grid;
    justify-content: center;
  }

  .tekst2 {
    padding-left: 25%;
  }

  .figur_div {
    background-color: #96a8ae;
    padding: 6%;
    display: flex;
    justify-content: center;
  }

  .damefigur {
    max-width: 40%;
  }

  .temaer {
    padding-bottom: 10%;
  }

  .tema_billede {
    max-width: 75%;
    padding-top: 10%;
    padding-left: 25%;
  }
}

/************************************************** Fuld skærm ************************************************/
@media screen and (min-width: 750px) {
  .section_forside {
    position: relative;
  }

  /***** border lavet med hjælp fra chatGPT ****/
  .border {
    margin: 0% 3%;
    position: relative;
  }

  .border::before {
    content: ""; /* Tilføj tomt indhold til pseudo-elementet */
    position: absolute;
    top: 5%;
    left: 0;
    right: 0;
    bottom: 7%;
    border: 2px solid rgb(4, 9, 43);
  }
  /***** border slut ****/

  .blomster_div {
    position: absolute;
    background-color: #96a8ae;
    margin-left: 6%;
    margin-right: 68%;
    margin-top: 18%;
    z-index: 2;
  }

  .blomsterfigur {
    padding-top: 10%;
    padding-bottom: 6%;
    max-width: 80%;
  }

  .tekst_div {
    position: absolute;
    background-color: #c8d6d8;
    margin-left: 28%;
    margin-top: 13%;
    z-index: 3;
    padding: 5% 11% 5% 3%;
  }

  .figur_div {
    position: absolute;
    background-color: #aebdc2;
    z-index: 1;
    margin-top: 8%;
    margin-left: 46%;
    padding: 3% 11% 3% 21%;
  }

  .damefigur {
    padding: 7%;
  }

  .temaer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 40% 10% 12% 10%;
  }

  .tema_billede {
    max-width: 12%;
  }
}
