* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  height: auto;
}

main {
  background-color: #e8e2db;
}

/****************** mobilversion tekster og farver ******************/
@media (max-width: 750px) {
}
h1 {
  font-family: "Playfair Display", serif;
  font-weight: 600;
  font-size: 2.5rem;
  font-style: italic;
  padding-top: 15px;
  padding-bottom: 8px;
}

h2 {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
}

h3 {
  font-family: "Playfair Display", serif;
  font-weight: 600;
  font-size: 1.5rem;
  padding-bottom: 8px;
}

h4 {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 1.1rem;
  padding-bottom: 2%;
}

h5 {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 0.8rem;
}

p {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 1.1rem;
}

a {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

ul {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 1.1rem;
}

li {
  padding-top: 5px;
}

footer {
  border-top-style: solid;
  border-color: black;
  border-top-width: 1px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer_linje {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.vertical_line {
  border-left: 1px solid black;
  height: 18px;
}

/* ************************* computerversion ********************* */
@media (min-width: 750px) {
  h1 {
    font-family: "Playfair Display", serif;
    font-weight: 600;
    font-size: 3cqw;
    font-style: italic;
  }

  h2 {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 1.3cqw;
  }

  h3 {
    font-family: "Playfair Display", serif;
    font-weight: 600;
    font-size: 1.7cqw;
  }

  h4 {
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-size: 1.2cqw;
  }

  h5 {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 1rem;
  }

  p {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 1.1cqw;
  }

  a {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 0.9cqw;
  }

  ul {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 1cqw;
  }

  li {
    padding-top: 8px;
  }

  footer {
    border-top-style: solid;
    border-color: black;
    border-top-width: 1px;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .footer_linje {
    display: flex;
    justify-content: center;
    gap: 15px;
  }

  .vertical_line {
    border-left: 1.5px solid black;
    height: 24px;
  }
}
