* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  height: auto;
}

main {
  /* background-color: #e8e2db; */
  background-color: #f1ece6;
}

/* 
h1 = overskrift
h2 = underoverskrift på forside
h3 = underoverskrift
h4 = underoverskrifter på CV og kompentencer
h5 = footer tekst + tekst på karousel */

/****************** mobilversion tekster og farver ******************/
@media (max-width: 750px) {
  h1 {
    font-family: "Playfair Display", serif;
    font-weight: 600;
    font-size: 2.5rem;
    font-style: italic;
    padding-top: 15px;
    padding-bottom: 8px;
    color: #223b44;
  }

  h2 {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 1.2rem;
    color: #223b44;
  }

  h3 {
    font-family: "Playfair Display", serif;
    font-weight: 600;
    font-size: 1.5rem;
    padding-bottom: 8px;
    color: #223b44;
  }

  h4 {
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-size: 1.1rem;
    padding-bottom: 2%;
    color: #223b44;
  }

  h5 {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 1rem;
    color: #223b44;
  }

  p {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 1.1rem;
    color: #223b44;
  }

  a {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 1.1rem;
  }

  ul {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 1.1rem;
    color: #223b44;
  }

  li {
    padding-top: 5px;
    color: #223b44;
  }

  footer {
    border-top-style: solid;
    border-color: #223b44;
    border-top-width: 1px;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .footer_linje {
    display: flex;
    justify-content: center;
    gap: 15px;
  }

  .vertical_line {
    border-left: 1px solid #223b44;
    height: 18px;
  }

  .knap_center {
    padding: 10px 30px;
    background-color: transparent;
    background-color: #2c505d;
    text-decoration: none;
    color: aliceblue;
  }
}

/* ************************* computerversion ********************* */
@media (min-width: 750px) {
  h1 {
    font-family: "Playfair Display", serif;
    font-weight: 600;
    font-size: 3rem;
    font-style: italic;
    color: #223b44;
    padding-bottom: 1%;
  }

  h2 {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 1.3rem;
    color: #223b44;
    padding-bottom: 1%;
  }

  h3 {
    font-family: "Playfair Display", serif;
    font-weight: 600;
    font-size: 1.8rem;
    color: #223b44;
    padding-bottom: 1%;
  }

  h4 {
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-size: 1.2rem;
    color: #223b44;
    padding-bottom: 1%;
  }

  h5 {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 1rem;
    color: #223b44;
    padding-bottom: 1%;
  }

  p {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 1.1rem;
    color: #223b44;
    padding-bottom: 1.5%;
  }

  a {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 1.1rem;
  }

  ul {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 1rem;
    color: #223b44;
  }

  li {
    padding-top: 8px;
    color: #223b44;
  }

  footer {
    border-top-style: solid;
    border-color: #223b44;
    border-top-width: 1px;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .footer_linje {
    display: flex;
    justify-content: center;
    gap: 15px;
  }

  .vertical_line {
    border-left: 1.5px solid #223b44;
    height: 24px;
  }

  /* knapper */
  .knap:hover {
    transform: scale(1.1);
  }
  .knap2:hover {
    transform: scale(1.1);
  }
  .knap3:hover {
    transform: scale(1.1);
  }

  .knap_center {
    padding: 10px 30px;
    background-color: #2c505d;
    text-decoration: none;
    color: aliceblue;
  }
}
