/****************** Om mig ***********/

/*********** mobilversion ********/
@media screen and (max-width: 750px) {
  .billede_strand {
    padding-bottom: 2%;
  }

  .section1 {
    padding-left: 5%;
    padding-bottom: 5%;
    max-width: 65ch;
    padding-right: 5%;
  }

  .section2 {
    padding-top: 2%;
    padding-left: 5%;
    max-width: 65ch;
  }

  .styling_tekst {
    padding-bottom: 5%;
    padding-right: 5%;
    max-width: 65ch;
  }

  .billede_1 {
    display: none;
  }

  .billede_2 {
    display: none;
  }

  .billede_3 {
    display: none;
  }

  .billede_4 {
    padding-right: 5%;
    padding-bottom: 5%;
  }

  .billede_5 {
    display: none;
  }

  .migbillede {
    display: none;
  }

  .tekst02 {
    padding-right: 5%;
    max-width: 65ch;
  }

  .section3 {
    max-width: 65ch;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
  }

  .boks1 {
    background-color: #dae3e6;
    padding-top: 5%;
    margin-top: 4%;
    padding-left: 6%;
    padding-right: 2%;
  }

  .punktliste {
    padding-left: 10%;
  }

  .kompetencer {
    padding-top: 12px;
  }

  .blomst_spejlvendt {
    width: 50%;
    margin-left: 51%;
    margin-top: 2%;
  }
}

/*********************** Fuld skærm ***********************/
@media screen and (min-width: 750px) {
  .section1 {
    display: grid;
    grid-template-columns: 0.8fr 1fr;
    padding-bottom: 5%;
  }

  .billede_strand {
    display: block;
  }

  .tekst01 {
    padding-left: 22%;
    padding-top: 12%;
    padding-right: 20%;
    background-color: #aebdc2;
  }

  .styling_overskrift {
    padding-bottom: 10px;
  }

  .section2 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding-left: 16%;
    gap: 6%;
    padding-bottom: 5%;
  }

  .tekst02 {
    padding-top: 20%;
    max-width: 65ch;
  }

  .styling_tekst {
    padding-top: 10px;
    padding-bottom: 10px;
    max-width: 65ch;
  }

  .galleri {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 615px;
    gap: 10px;
  }

  .billede_1 {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    object-fit: cover;
    align-self: stretch;
  }

  .billede_2 {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    object-fit: cover;
    align-self: stretch;
  }

  .billede_3 {
    grid-column: 3 / span 1;
    grid-row: 1 / span 2;
    object-fit: cover;
    align-self: stretch;
  }

  .billede_4 {
    grid-column: 1 / span 2;
    grid-row: 2 / span 2;
    object-fit: cover;
    align-self: stretch;
  }

  .billede_5 {
    grid-column: 3 / span 1;
    grid-row: 3 / span 1;
    object-fit: cover;
    align-self: stretch;
  }

  .section3 {
    background-color: #aebdc2;
  }

  .designvalg {
    display: grid;
    grid-template-columns: 1fr 4fr;
    padding: 5% 18% 1% 18%;
    margin-left: 3%;
  }

  .migbillede {
    display: block;
  }

  .tekst03 {
    background-color: #dae3e6;
    padding-right: 17%;
    padding-top: 6%;
    padding-left: 15%;
    margin-right: 6%;
  }

  .boks1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 17px;
    margin: 0% 21%;
    padding-bottom: 5%;
  }

  .CV {
    background-color: #dae3e6;
    padding: 8% 8% 8% 8%;
  }

  .kompetencer {
    background-color: #dae3e6;
    padding: 8% 8% 8% 8%;
  }

  .blomst_spejlvendt {
    width: 70%;
    margin-left: 40%;
    margin-top: 2%;
  }

  .punktliste {
    padding-left: 8%;
    padding-top: 2%;
  }
}
