/* ******************************** UX/UI - tema 3 ************************* */

/******************************* mobilversion ******************************/
@media screen and (max-width: 750px) {
  .header_bokse {
    background-color: #a3b3b9;
    padding-bottom: 7%;
  }

  .pære {
    display: none;
  }

  .tekst1 {
    padding-top: 10%;
    padding-left: 5%;
    padding-right: 2%;
    max-width: 65ch;
  }

  .knap {
    text-align: center;
    margin-top: 6%;
    padding-top: 2%;
  }

  .section2 {
    padding-left: 5%;
    max-width: 65ch;
  }

  .tekst2_t3 {
    padding-top: 7%;
    padding-bottom: 5%;
  }

  .tekst3 {
    padding-top: 5%;
  }

  .grid_tekst {
    padding-right: 5%;
  }

  .styling_tekst {
    padding-top: 4%;
  }

  .knap2 {
    padding-top: 10%;
    text-align: center;
  }

  .tekst4 {
    margin-left: -2%;
  }

  .knap3 {
    padding-top: 7%;
    text-align: center;
  }

  .section3 {
    padding: 7%;
    max-width: 65ch;
  }

  .overskrift_sec3 {
    padding-top: 5%;
    padding-bottom: 2%;
  }

  .screenshot {
    display: none;
  }
}

/* ******************************** Fuld skærm ************************* */
@media screen and (min-width: 750px) {
  .header_bokse {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
  }

  .kasse1 {
    background-color: #dae3e6;
    padding-bottom: 10%;
  }

  .pære {
    width: 40%;
    padding-top: 12%;
    margin-left: 55%;
  }

  .kasse2 {
    background-color: #aebdc2;
    padding-left: 3%;
  }

  .tekst1 {
    padding-top: 7%;
    padding-left: 6%;
    padding-right: 38%;
  }

  .knap {
    text-align: center;
    margin-top: 5%;
    padding-left: 5%;
  }

  .tekst2_t3 {
    padding: 2%;
    display: flex;
    justify-content: center;
  }

  .billeder {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 0% 20%;
  }

  .tekst3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2% 21%;
    gap: 70px;
  }

  .styling_tekst {
    padding-top: 10px;
  }

  .knap2 {
    padding-top: 10%;
    padding-left: 35%;
  }

  .section2 {
    padding-bottom: 2%;
    padding-top: 1.5%;
  }

  .section3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1% 20%;
    background-color: #aebdc2;
  }

  .screenshot {
    margin-top: 10%;
    margin-left: 33%;
    margin-bottom: 6%;
    width: 45%;
  }

  .overskrift_sec3 {
    padding-top: 2%;
    padding-bottom: 2%;
  }

  .tekst4 {
    padding-top: 30%;
    padding-right: 15%;
    padding-left: 0%;
    margin-left: -10%;
  }

  .knap3 {
    padding-top: 7%;
  }
}

/***** Caroussel er taget fra aflevering tema 5 *****/

/********************************************* karousel ****************************************************/

.produkter {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.carousel-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  padding-left: 15%;
  padding-bottom: 2%;
}

.carousel {
  display: flex;
  overflow: hidden;
  flex: 1;
  gap: 10px;
}

.carousel-slide {
  flex: 0 0 25%;
}

.nav-arrows {
  font-size: 20px;
  cursor: pointer;
  color: #809671;
  margin: 10% 2% 0 0;
}

.next-arrow {
  font-size: 25px;
}
/********************************************* karousel end ****************************************************/

/*************************************************** carousel media ***********************************************/

@media (min-width: 750px) {
  .carousel_mobil {
    display: none;
  }

  .carousel-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
  }

  .carousel_mobil {
    margin: 5%;
  }

  .carousel {
    display: flex;
    overflow: hidden;
    flex: 1;
    gap: 10px;
  }

  .carousel-slide_mobil {
    flex: 0 0 20%;
  }

  .nav-arrows_mobil {
    font-size: 20px;
    cursor: pointer;
    color: #2c505d;
    margin: 10% 2% 0 0;
  }

  .next-arrow_mobil {
    font-size: 25px;
  }

  .text_iconer {
    text-align: center;
  }

  .nav-arrows {
    font-size: 27px;
    cursor: pointer;
    color: #2c505d;
    margin: 7% 0% 0 0;
  }

  .next-arrow {
    font-size: 35px;
  }
}

@media screen and (max-width: 750px) {
  .carousel_web {
    display: none;
  }

  .carousel-container_mobil {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    margin: 0% 10% 3% 0%;
  }

  .carousel_mobil {
    display: flex;
    overflow: hidden;
    flex: 1;
    gap: 5px;
  }

  .nav-arrows_mobil {
    font-size: 15px;
    cursor: pointer;
    color: #2c505d;
    margin: 25% 0 0 0;
  }

  .next-arrow_mobil {
    font-size: 20px;
  }
}
