/* ******************************** UX/UI - tema 3 ************************* */
@media screen and (max-width: 850px) {
  .header_bokse {
    background-color: #a3b3b9;
    padding-bottom: 7%;
  }

  .tekst1 {
    padding-top: 10%;
    padding-left: 5%;
    padding-right: 5%;
    max-width: 65ch;
  }

  .knap {
    text-align: center;
    margin-top: 6%;
    padding-top: 20px;
  }

  .knap_center {
    padding: 10px 40px;
    background-color: transparent;
    background-color: #04568d;
    text-decoration: none;
    color: aliceblue;
  }

  .tekst2 {
    padding: 6%;
  }

   .tekst3 {
    padding: 7%;
  }

   .styling_tekst {
      padding-top: 4%;
    }

    .knap2{
        padding-top: 10%;
        padding-left: 25%;
    }
}

/* ******************************** Fuld skærm ************************* */
@media screen and (min-width: 850px) {
  .header_bokse {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .kasse1 {
    background-color: #dae3e6;
    padding-bottom: 65%;
  }

  .kasse2 {
    background-color: #a3b3b9;
  }

  .tekst1 {
    padding-top: 9%;
    padding-left: 30%;
    padding-right: 22%;
  }

  .knap {
    text-align: center;
    margin-top: 4%;
    padding-left: 40%;
  }

  .knap_center {
    padding: 10px 40px;
    background-color: transparent;
    background-color: #04568d;
    text-decoration: none;
    color: aliceblue;
  }

  /* .section2 {
    padding: 5%;
    display: flex;
    justify-content: center;
  } */

  .tekst2 {
    padding: 3%;
    display: flex;
    justify-content: center;
  }

  .billeder {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 0% 20%;
  }

  .tekst3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2% 21%;
    gap: 70px;
  }

    .styling_tekst {
      padding-top: 10px;
    }

    .knap2{
        padding-top: 10%;
        padding-left: 25%;
    }

    .section2{
        padding-bottom: 4%;
        padding-top: 1.5%;
    }
  }

  /***** Caroussel er taget fra aflevering tema 5 *****/
  /* .produkter {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .carousel-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    margin: 5% 0 2% 5%;
    padding-left: 5%;
  }

  .carousel {
    display: flex;
    overflow: hidden;
    flex: 1;
    gap: 10px;
  }

  .carousel-slide {
    flex: 0 0 20%;
  } */

  /* .nav-arrows {
    font-size: 20px;
    cursor: pointer;
    color: #809671;
    margin: 10% 2% 0 0;
  }

  .next-arrow {
    font-size: 25px;
  } */
  /********** carousel end ********/
}
