/************************************** tema 5 - Indhold *******************************/

/*********** mobilversion ********/
@media screen and (max-width: 750px) {
  .blomst {
    padding-right: 50%;
    padding-top: 6%;
  }

  .tekst001 {
    max-width: 65ch;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 3%;
  }

  .videosite_billede {
    padding: 5% 10%;
    max-width: 65ch;
  }

  .boks3 {
    max-width: 65ch;
    padding-left: 5%;
    padding-right: 5%;
  }

  .boks4 {
    max-width: 65ch;
    padding-left: 5%;
    padding-right: 5%;
  }

  .helsecentret_billede {
    padding-bottom: 5%;
  }

  .styling_tekst {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .knap {
    text-align: center;
    margin-top: 6%;
    padding-bottom: 10%;
  }

  .knap_center {
    padding: 10px 40px;
    background-color: transparent;
    background-color: #04568d;
    text-decoration: none;
    color: aliceblue;
  }
}

/*********************** Fuld skærm ***********************/
@media screen and (min-width: 750px) {
  .grid_header {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .blomst {
    padding-right: 30%;
    padding-top: 6%;
  }

  .tekst001 {
    padding-top: 6%;
    padding-bottom: 6%;
    padding-right: 49%;
    padding-left: 1%;
  }

  .boks2 {
    background-color: #aebdc2;
  }

  .videosite_billede {
    padding: 10% 0% 10% 35%;
  }

  .grid2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .boks3 {
    background-color: #d9d9d9;
    margin-top: 18%;
    margin-bottom: 16%;
    margin-right: 27%;
    z-index: 1;
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 5%;
    padding-bottom: 3%;
    margin-left: -7%;
  }

  .styling_tekst {
    padding-top: 10px;
  }

  .knap {
    text-align: center;
    margin-top: 3%;
    padding-top: 20px;
  }

  .knap_center {
    padding: 10px 40px;
    background-color: transparent;
    background-color: #04568d;
    text-decoration: none;
    color: aliceblue;
  }

  .boks4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .helsecentret_billede {
    padding: 12% 21% 8% 0%;
  }

  .tekst002 {
    padding-top: 10%;
    padding-bottom: 5%;
    max-width: 68ch;
    margin-left: 28%;
  }
}
