/****************** tema 4 - Animation ***********/

/*********** mobilversion ********/
@media screen and (max-width: 750px) {
  .header_section {
    padding-top: 5%;
    padding-bottom: 5%;
    max-width: 65ch;
  }

  .boks1 {
    padding: 5%;
  }

  .billede_spil {
    padding: 0% 5%;
  }

  .SMD {
    padding: 0% 5%;
    max-width: 65ch;
  }

  .tekst1 {
    padding-top: 3%;
  }

  .section3 {
    padding: 5%;
    max-width: 65ch;
  }

  .tekst02 {
    padding: 3% 0%;
  }

  .styling_tekst {
    padding-top: 10px;
  }

  .knap {
    padding-top: 20px;
    text-align: center;
  }
}

/*********************** Fuld skærm ***********************/
@media screen and (min-width: 750px) {
  .header_section {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
  }

  .boks1 {
    background-color: #aebdc2;
    padding-top: 15%;
    padding-left: 11%;
    padding-right: 11%;
  }

  .billede_spil {
    max-height: 400px;
    display: block;
  }

  .SMD {
    display: grid;
    grid-template-columns: 1.25fr 1fr;
    padding-left: 11%;
    padding-right: 14%;
    padding-bottom: 5%;
  }

  .tekst1 {
    padding-left: 10%;
    padding-top: 12%;
    padding-right: 15%;
  }

  .section3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #aebdc2;
    padding: 5% 20%;
    gap: 50px;
  }

  .tekst02 {
    padding-top: 20%;
  }

  .styling_tekst {
    padding-top: 10px;
  }

  .knap {
    margin-top: -20%;
    text-align: end;
    padding-right: 15%;
  }
}
