/* ******************************** WEB - tema 2 ************************* */
@media screen and (max-width: 750px) {
  .websitebillede {
    padding: 5% 5%;
    max-width: 550px;
  }

  .tekst_web {
    padding-top: 5%;
    padding-left: 5%;
  }

  .overskrift1 {
    padding-left: 5%;
  }

  .tekst1 {
    padding: 0% 9% 3% 5%;
    max-width: 68ch;
  }

  .box_1 {
    padding-bottom: 20px;
    max-width: 68ch;
  }

  .section2 {
    background-color: #aebdc2;
    padding-bottom: 10%;
  }

  .tekst02 {
    padding-left: 5%;
    padding-bottom: 3%;
  }

  .box_2 {
    padding: 7% 0%;
    max-width: 68ch;
    padding-right: 5%;
  }

  .kode1 {
    padding-left: 5%;
    padding-right: 5%;
  }

  .kode2 {
    padding-left: 5%;
    padding-right: 5%;
  }

  .box_3 {
    padding-top: 7%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 1%;
  }

  .section3 {
    padding-bottom: 10%;
    max-width: 68ch;
  }

  .tekst3 {
    max-width: 68ch;
  }

  .knap {
    text-align: center;
    margin-top: 6%;
    padding-bottom: 5%;
  }

  .boks_4 {
    padding-top: 7%;
    padding-left: 5%;
    padding-right: 5%;
  }
}

/********************** Fuld skærm ****************** */

@media screen and (min-width: 750px) {
  .section1 {
    display: grid;
    grid-template-columns: 1fr 1.25fr;

    padding-top: 4%;
    padding-bottom: 4%;
  }

  .websitebillede {
    filter: grayscale(0.2);
    padding-left: 48%;
  }

  .tekst_web {
    padding-top: 2%;
    padding-left: 2%;
  }

  .overskrift1 {
    padding-left: 8%;
  }

  .tekst1 {
    padding-left: 8%;
    padding-bottom: 2%;
    max-width: 65ch;
  }

  /* .box_1 {
    background-color: #d0d7d3;
  } */

  .section2 {
    background-color: #aebdc2;
    display: grid;
    grid-template-columns: 1.5fr 2.25fr;
  }

  .tekst02 {
    padding-left: 8%;
    padding-top: 10px;
    max-width: 68ch;
  }

  .box_2 {
    padding-top: 13%;
    padding-left: 23%;
    padding-right: 4%;
  }

  .kode1 {
    padding: 0% 22%;
    margin-top: -11%;
    margin-bottom: 6%;
  }

  .kode2 {
    padding: 6% 28% 0% 34%;
    margin: 0px -34%;
  }

  .section3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 4% 20% 4% 20%;
    gap: 15px;
  }

  .box_3 {
    background-color: #d0d7d3;
    padding: 7%;
  }

  .knap {
    text-align: center;
    padding-top: 5%;
  }

  .boks_4 {
    background-color: #d0d7d3;
    padding: 7%;
  }
}
