/****************** tema 4 - Animation ***********/

/*********** mobilversion ********/
@media screen and (max-width: 750px) {
  .header_section {
    padding-bottom: 5%;
    max-width: 65ch;
  }

  .boks1 {
    padding: 5%;
  }

  .billede_spil {
    padding: 0% 5%;
    filter: grayscale(0.2);
  }

  .SMD {
    padding: 5% 5%;
    max-width: 65ch;
    background-color: #aebdc2;
    margin-bottom: 5%;
  }

  .tekst1 {
    padding-top: 3%;
  }

  .section3 {
    padding: 5%;
    max-width: 65ch;
  }

  .tekst02 {
    padding: 3% 0%;
  }

  .styling_tekst {
    padding-top: 10px;
  }

  .knap_4 {
    text-align: center;
    padding-top: 8%;
    padding-bottom: 5%;
  }

  .tekst_styling {
    padding-bottom: 7%;
  }

  .aktivitetsdiagram {
    display: none;
  }
}

/*********************** Fuld skærm ***********************/
@media screen and (min-width: 750px) {
  .header_section {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    padding-bottom: 4%;
  }

  .boks1 {
    background-color: #aebdc2;
    padding-top: 10%;
    padding-left: 19%;
    padding-right: 25%;
  }

  .billede_spil {
    max-height: 400px;
    display: block;
    filter: grayscale(0.1);
  }

  .SMD {
    display: grid;
    grid-template-columns: 1.25fr 1fr;
    padding-left: 13%;
    padding-right: 14%;
    padding-bottom: 1.5%;
    margin-top: -1%;
  }
  }

  .tekst1 {
    padding-left: 6%;
    padding-right: 15%;
  }

  .tekst_styling {
    padding-bottom: 7%;
  }

  .aktivitetsdiagram {
    padding-top: 5%;
  }

  .section3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #aebdc2;
    padding: 5% 20%;
    gap: 50px;
  }

  .imgkode1 {
    padding: 0% 2% 0% 27%;
  }

  .imgkode2 {
    padding: 0% 2% 0% 27%;
  }

  .tekst02 {
    padding-top: 12%;
  }

  .styling_tekst {
    padding-top: 10px;
  }

  .knap_4 {
    display: flex;
    justify-content: flex-end;
    text-align: center;
    padding-top: 4%;
    padding-right: 31%;
    margin-top: -15%;
    margin-bottom: 8.5%;
  }
}
